<div class="wizard-step-wrapper relative">
    <div class="row margin-top-15">
        <div class="column large-2 text-right margin-top-10 font-weight-stronger">
            Device
        </div>
        <div class="column large-10 margin-top-10 end">
            <p class="margin-bottom-5 font-size-12 lt-gray-54">Select your device types</p>
            <ko.style--tabs class="margin-top-10 border-right-solid border-left-solid border-top-solid border-bottom-solid"
                            params="tabs: tabsByContent, border: true, showCheckBox: false, onChange: onSelectedTabs.bind($component), multiple: false, instance: tabsInstance"></ko.style--tabs>
        </div>
    </div>
    <div class="row margin-top-15">
        <div class="column large-2 text-right margin-top-10 font-weight-stronger">
            Placement
        </div>
        <div class="column column large-10 margin-top-10 end">
            <p class="font-size-12 lt-gray-54">Define your content and placement types</p>
            <ko.select class="tr-select margin-top-10"
                       params="
                        options:                placements,
                        optionsText:            'text',
                        optionsCheckboxRight:   true,
                        selected:               selectedPlacement,
                        multi:                  true"
            ></ko.select>
        </div>
    </div>

    <div class="row margin-top-15">
        <div class="column large-2 text-right margin-top-10 font-weight-stronger">
            Preview
        </div>
        <div class="column column large-10 margin-top-10 end">
            <div class="text-right">
                <!-- ko if: availablePreviews().length > 0 -->
                <span class="display-inline font-size-14 lt-gray-48" data-bind="text: _.indexOf(availablePreviews(), activePreview()) + 1"></span>
                <span class="display-inline font-size-14 lt-gray-48">/</span>
                <span class="display-inline font-size-14 lt-gray-48 margin-right-5" data-bind="text: availablePreviews().length">4</span>
                <button class="button btn-small tr-icon-angle-left" data-bind="click: prevTab, enable: canGoPrev"></button>
                <button class="button btn-small tr-icon-angle-right" data-bind="click: nextTab, enable: canGoNext"></button>
                <!-- /ko -->
            </div>
            <div data-bind="with: activePreview" class="margin-top--20">
                <h4 data-bind="text: title" class="text-center margin-bottom-15"></h4>
                <iframe data-bind="attr: {src: iframe}" width="100%" height="450"  frameborder="0" scrolling="yes"></iframe>
            </div>
        </div>
    </div>
    <div class='wizard-step-loader' data-bind="visible: !isDataLoaded()"></div>
</div>

